body {
    font-family: Arial;
    margin: 40px;
}

input, 
select {
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 600px;
}

td, 
th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.low-score {
    background-color: yellow;
}

.no-result {
    text-align: center;
    font-style: italic;
}

.filter-area {
    margin: 15px 0;
}